/*------------------------------*/
/*Basic Setup*/
/*------------------------------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Century Gothic','Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    

}
/*----sets screen width to 1140 pixels----*/
.row {
    max-width: 1140px;
    margin: 0 auto; 
}


/*----text on the background: BE THE FIRST TO GET THE LATEST HITS
FROM YOUR FAVOURITE RAPPERS.----*/
h1 {
    margin: 0;
    color: #fff;
    font-size: 250%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

/*---main button class for the two buttons--*/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    
}

/*----button thats filled with color----*/
.btn-full:link,
.btn-full:visited {
    background-color: #37b1f2; 
    border: 1px solid #37b1f2;
    color: #fff;
    margin-right: 15px;
    
}
/*---only outline of second button------*/
.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #37b1f2;
    color: #37b1f2;
}
/*---main class for what happens when the mouse is over the buttons and when the button is clicked, color changes to a darker color------*/
.btn:hover,
.btn:active{
    background-color: #3397cc;

}
/*------------------------------------*/
.btn-full:hover,  
.btn-full:active {
       border: 1px solid #37b1f2;
 
}
/*------------------------------------*/
.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #37b1f2;
    color: #fff;
}


/*------------------------------*/
/*HEADER*/
/*------------------------------*/

/*----sets the background image to cover the screen and darken it, centers the background as well----*/

header {
      background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url();
    /*background-size: cover*/
    /*background-position: center;*/
    height: 100vh;

}

/*---contains the h1 text and the buttons below it-----*/
.hero-text-box {
    position: absolute;
    width:1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
/*----------------LOGO--------------------*/

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top:15px;
    
}
/*------MAIN NAVIGATION------------*/
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,   
.main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
     border-bottom: 2px solid #37b1f2 transparent;
    transition: border-buttom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #37b1f2;
}
/*-------------------------------------------------------------------*/
/*------------------------------*/
.cb-slideshow,
.cb-slideshow:after { 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1; 
}
/*------------------------------*/
.cb-slideshow:after { 
    content: '';
    /*background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)) url(img/pattern.png) repeat top left;*/
}
/*------------------------------*/
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s; 
}
/*------------------------------*/
.cb-slideshow li div { 
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s; 
}
/*------------------------------*/

.cb-slideshow li:nth-child(1) span { 
    background-image: url(img/1.jpg) 
}
/*------------------------------*/
.cb-slideshow li:nth-child(2) span { 
    background-image: url(img/2.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
/*------------------------------*/
.cb-slideshow li:nth-child(3) span { 
    background-image: url(img/3.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
/*------------------------------*/
.cb-slideshow li:nth-child(4) span { 
    background-image: url(img/4.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
/*------------------------------*/
.cb-slideshow li:nth-child(5) span { 
    background-image: url(img/5.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}
/*------------------------------*/
.cb-slideshow li:nth-child(6) span { 
    background-image: url(img/6.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}
/*------------------------------*/
.cb-slideshow li:nth-child(2) div { 
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
/*------------------------------*/
.cb-slideshow li:nth-child(3) div { 
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
/*------------------------------*/
.cb-slideshow li:nth-child(4) div { 
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
/*------------------------------*/
.cb-slideshow li:nth-child(5) div { 
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}
/*------------------------------*/
.cb-slideshow li:nth-child(6) div { 
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}
/*------------------------------*/
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
/*------------------------------*/
@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
/*------------------------------*/
@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
/*------------------------------*/
@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
/*------------------------------*/
@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
/*------------------------------*/

/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}
/*------------------------------*/

@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}
/*------------------------------*/
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
}
/*------------------------------*/

.gamesfont{
    
    margin-top: 10px;
    font-size: 25px;
    margin-left: 60px;

}

.new-release{
    
    margin-top: 10px;
    font-size: 25px;
    margin-left: 60px;

}


/* ----------------------------------------------- */
/* MEALS */
/* ----------------------------------------------- */

.section-meals, .section-new {
    padding:0px;
  
}

.meals-showcase {
    list-style: none;
    width: 100%;
    
}
.section-new  {
    list-style: none;
    width: 100%;
    
}


.meals-showcase li {
    display: block;
    float: left;
    width: 13%;
    margin-right: 28px;
    

}

.section-new li{
    display: block;
        float: left;
        width: 13%;
        margin-right: 28px;

}

.meal-photo {
    width: 100%;
    overflow: hidden;
    background-color: #000;
    margin-right: auto;
    margin-left: 35%;
    
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    
}

.meal-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    
}
<!---------------------------------------------> .details {
    max-height: 30px;
    color: red;
    
}

h2 {
  
    font-size: 1.2em;
    text-align: center;
    background-color: white;
    margin-top: 6px;

    text-decoration: none;
    
     
}

.title{
    text-decoration: none;
    font-family: lato,"century gothic";
    color: grey;
     font-weight: 100;
    font-size: 22px;


}
.display-price{
    float: right;
    background-color: #3c99cb;
    background-color: grey;
    color: white;
    
}

.subtitle {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.subtitle-container{
      text-decoration: none;
   background-color:#37b1f2;
}
    .price-container:{
        background-color: dodgerblue;
    
    }

